<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <div class="container">
      <a class="navbar-brand" href="/">{{ site.title }} <i class="fa-regular fa-stars fa-fw text-warning"></i></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav mr-auto justify-content-end">
          <li class="nav-item">
            <a href="/about" class="nav-link">About <i class="fa-solid fa-circle-info fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
