<!DOCTYPE html>
<html>

{% assign club = site.clubs | where: "name", page.parent-club | first %}

{% include head.html %}

<body>

  {% include header.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-3 ms-sm-auto col-lg-2">
      {% include sidebar-nav.html %}
      </div>

      <div class="col-md-9 ms-sm-auto col-lg-10">
      <div class="container px-5 my-5 rounded-3 bg-body-tertiary">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-4">
            <img src="/images/{{ page.thumbnail }}" class="card-img-top" alt="...">
          </div>
          <div class="col-lg-8 text-center text-lg-start">
            <h1>
              <strong class="display-4"><a href="{{ club.permalink }}">{{ club.name }}</a>: {{ page.title }}</strong><br>
            </h1>
<p>Parent Club: {{ page.parent-club }}</p>
{% if club %}
      <p>Club: {{ club.name }}</p>
      <p>Permalink: {{ club.permalink }}</p>
    {% else %}
      <p>Club not found.</p>
    {% endif %}</p>
          </div>
        </div>
      </div>

      <div class="container pb-5">
        <div class="row">
          <div class="col-xl-12">
          {{ content }}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

{% include scripts.html %}

</html>